* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    overflow: auto;
}

.mid-nav-btn {
    margin-top: 11px;
}

#n_nav1 {
    width: 100%;
    height: 46px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

#n_nav1>a {
    display: block;
    margin-top: 7px;
    cursor: pointer;
}

#n_nav1>a>img {
    width: 135px;
    height: 31px;
    margin-left: 100px;
}

#n_nav1>div {
    width: 350px;
    height: 31px;
    margin-right: 100px;
    margin-top: 10px;
    color: rgb(189, 189, 154);
    display: flex;
    justify-content: space-between;
    padding-top: 5px;

}

#n_nav1>div a {
    cursor: pointer;
}

#n_nav1>div>div>img {
    width: 24px;
    height: 24px;
    margin-bottom: 4px;
    margin-right: 10px;

}

#n_nav1>div>div {
    display: flex;
    justify-content: space-between;
}

#n_nav2 {
    width: 100%;
    height: 85px;
    background-color: rgb(43, 43, 43);
    display: flex;
    justify-content: space-between;
}

#n_nav2>#branch1 {
    width: 700px;
    height: 40px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    color: white;
    font-weight: 700;
    padding-top: 18px;
    margin-left: 100px;
    cursor: pointer
}

#n_nav2>#branch1>img {
    display: block;
    width: 184px;
    height: 40px;
    margin-bottom: 15px;
}

#n_nav2>#branch1 a {
    /* padding: 9px; */
}




#n_nav2>#branch2 {
    width: 400px;
    height: 50px;
    margin-right: 40px;
    margin-top: 10px;
    padding-top: 5px;
    padding-left: 5px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}

#branch2>img+button {
    width: 164px;
    height: 40px;
    border-color: white;
    background-color: rgb(43, 43, 43);
    color: white;
    font-weight: 700;
    font-size: 14px;
}

#branch2>img+button:hover {
    background-color: white;
    color: rgb(43, 43, 43);

}

#branch2>img+button+button {
    width: 142px;
    height: 40px;
    font-size: 14px;
    background-image: linear-gradient(to right, #f05a28, #ec008c, #f05a28);
    color: white;
    font-weight: 700;
    border-color: 0px;
}

/* ******** *************************** */


.ddown {
    position: absolute;
    top: 131px;
    /* background-color: #ECECED; */
    z-index: 1;
    right: 0px;
}

/* #solutions-box {
    display: none;
    background-color: white;
    padding: 45px;
    border: 1px solid red;   

} */
#solutions-box {
    display: none;
    background-color: white;
    padding-bottom: 150px;
    background-color: transparent;
    cursor: default;
    overflow: auto;

    /* padding: 45px; */
    /* border: 1px solid red; */
}




#solutions {
    /* width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    cursor: default; */

    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background: white;
    padding: 65px;
}


#solutions>div {
    /* border: 1px solid red; */
}

.sol-box-items {
    display: flex;

}

.sol-box-item {
    display: flex;

}

.sol-box-items:hover {
    background: #eaeaea;
    border-radius: 8px;
    cursor: pointer;
    /* transition: all 2s ease; */
}

.sol-box-items>div {
    /* border: 1px solid blue; */
}

.sol-box-items>div>img {
    margin: 12px;
}

.sol-box-text>h4 {
    margin: 0%;
    padding: 13px;
    padding-bottom: 1px;
    color: black;

}

.sol-box-text>p {
    margin-top: 0px;
    padding: 11px;
    padding-top: 4px;
    color: #636363;
    font-weight: normal;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}

.sol-arrow {
    display: none;
    float: right;

}

.sol-box-items:hover .sol-arrow {
    display: block;
    transition: all 2ms ease;
}

.sol-nav-list:hover .sol-arrow {
    display: block;
}

.anchor-tag:hover {
    /* color: #f05a28; */
    /* border-bottom: 3px ridge red; */
    padding-bottom: 30px;
}

.down_arrow {
    display: block;
    background: url('../img/arow.png') center no-repeat;
    width: 10px;
    height: 10px;
    margin-top: -13px;
    rotate: 90deg;
    margin-left: 74px;

}

/* ***************** */

#solution-box {
    display: none;
    width: 100%;
    overflow: auto;
    background-color: white;
    /* padding: 45px; */
    cursor: default;


    padding-bottom: 150px;
    background-color: transparent;
}

#solution {
    /* width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-left: 140px;
    background: white; */

    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    cursor: default;
    background: white;
    padding: 65px;
}



.sol-box-items {
    display: flex;
    /* cursor: pointer; */

}

#sol_box-mid {
    border-left: 1px solid rgb(211, 211, 211);
    border-right: 1px solid rgb(211, 211, 211);
    padding-left: 20px;
    padding-right: 20px;
}



.sol-nav-list {
    margin-top: 6px;
    /* margin-left: -35px; */
    list-style: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    color: #636363;
    font-weight: normal;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}


.sol-nav-list:hover {

    background: #F5F5F5;
    border-radius: 8px;
    color: #ec008c;
    cursor: pointer;

}



.sol-box-items>div>img {
    margin: 12px;
}